/* src/front/styles/footer.css */
.footer {
    width: 100%;
    margin-top: 3%;
    border-radius: 10px;
    display: grid;
    place-items: center;
    height: 6%;
    /* Gradiente de rojos/naranjas */
    background: linear-gradient(90deg,
            var(--color-red) 0%,
            var(--color-giants-orange) 50%,
            var(--color-atomic-tangerine) 100%);
    color: var(--color-white);
    padding: 10px 0;
}

.footer p {
    margin: 0;
}