/* src/front/styles/homeUser.css */
.genretitle {
    display: flex;
    justify-content: start;
    color: var(--color-mauveine);
    margin-top: 20px;
}

.artists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--color-mauveine) var(--color-white);
}

.artists::-webkit-scrollbar {
    height: 8px;
}

.artists::-webkit-scrollbar-thumb {
    background-color: var(--color-mauveine);
    border-radius: 4px;
}

.artistcard {
    width: 200px;
    background-color: rgba(97, 235, 97, 0.1);
    /* Un verde translúcido */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.artistcard:hover {
    transform: scale(1.02);
}

.artistcard .card {
    background-color: transparent;
    border: none;
}

.artistcard .card-img-top {
    width: 150px;

    height: 150px;

    border-radius: 20%;

    object-fit: cover;

    object-position: center;

    display: block;

    margin: 0 auto;

}



.btn-outline-purple {
    color: var(--color-mauveine);
    background-color: transparent;
    border: 2px solid var(--color-mauveine);
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-outline-purple:hover {
    background-color: var(--color-mauveine);
    color: var(--color-white);
}