/* src/front/styles/home.css */
body {
    background: url("../img/microphone.jpg") no-repeat center center;
    background-size: cover;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: var(--color-white);
}