.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--background-color, #f9f9f9);
    padding: 20px;
}

.image-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* en lugar de cover */
    object-position: center;
    display: block;
}


.image-wrapper:hover {
    transform: scale(1.02);
}

.eliminar-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--color-red, #dc3545);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
}

.eliminar-button:hover {
    background-color: #f30808;
}

.file-name {
    font-size: 0.9rem;
    color: #333;
    margin-left: 10px;
}