/* music.css */

/* Utiliza las variables definidas en index.css */
.music-container {
    background-color: var(--background-color);
    padding: 20px;
    color: var(--text-color);
    border-radius: 8px;
}

.song-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.song-item {
    padding: 10px;
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-button,
.delete-button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.like-button:hover,
.delete-button:hover {
    background-color: var(--secondary-color);
}