/* src/front/styles/artistProfile.css */

/* Contenedor principal del perfil de artista */
.artist-profile-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.artist-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
}

.artist-profile-picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--color-black);
}

.artist-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.artist-tabs button {
  padding: 10px 20px;
  background: var(--color-red);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.artist-tabs button:hover {
  background: var(--color-giants-orange);
}

.artist-tabs button.active {
  background: var(--color-black);
}

.artist-content {
  text-align: center;
}

/* Estilos para imágenes */
.images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.images-container img {
  max-width: 300px;
  border-radius: 5px;
}

/* Estilos para vídeos */
.videos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.video-wrapper {
  width: 560px;
  max-width: 100%;
  margin-bottom: 10px;
}

/* Lista de canciones */
.song-list {
  list-style: none;
  padding: 0;
}

.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: var(--color-orange-crayola);
  border-radius: 5px;
  margin-bottom: 5px;
}

.like-button {
  background: var(--color-green);
  color: var(--color-white);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.like-button:hover {
  background: var(--color-mauveine);
}

.artist-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow-button {
  margin-top: 10px;
  background: var(--color-green);
  color: var(--color-white);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.follow-button:hover {
  background: var(--color-giants-orange);
}